.ping_pong{
    width:100%;
    background-color:rgb(255, 0, 0);
    font-size:45px;
    border-color:blue;
    border-width:3px;
}
#button_1{
    float:right;
    margin-right:15px;
    background-color: crimson;
    color:white;
    height:40px;
    font-size:20px;
    border-radius:10px;
    margin-top:20px;
    border-color:blue;
}
#play_button{
    background-color:blue;
    border-radius:10px;
    border-width:3px;
    font-size:20px;
}
#restart_button{
    background-color:red;
    border-radius:10px;
    font-size:20px;
    border-width:2px;
}
#footer{
    position:fixed;
background-color:aliceblue;
width:100%;
margin-top:265px;
}
canvas{
    border-radius:10px;
    border-width:5px;
    border-color:blue;
}